<section class="preloader">
    <div class="spinner">
        <span class="sk-inner-circle"></span>
    </div>
</section>
    
<main>

    {{page.primary_menu}}
    
    {{page.content}}

</main>

{{page.footer}}